In [22]:
# read CSV file
import pandas as pd
df = pd.read_csv('colors.csv')
print(df)

             Name      HEX               RGB
0            Aqua  #00FFFF    rgb(0,100,100)
1             NaN  #7FFFD4    rgb(50,100,83)
2           Beige  #F5F5DC     rgb(96,96,86)
3           Black  #000000        rgb(0,0,0)
4            Blue  #0000FF      rgb(0,0,100)
5           Brown  #A52A2A               NaN
6       Chocolate      NaN     rgb(82,41,12)
7         Crimson  #000000      rgb(86,8,24)
8            Cyan  #00FFFF    rgb(0,100,100)
9             NaN  #00008B       rgb(0,0,55)
10  Deep Sky Blue  #000000     rgb(0,75,100)
11           Gold  #FFD700     rgb(100,84,0)
12           Gray  #BEBEBE     rgb(75,75,75)
13          Green  #00FF00      rgb(0,100,0)
14         Indigo  #000000      rgb(29,0,51)
15          Ivory  #FFFFF0   rgb(100,100,94)
16          Khaki  #F0E68C     rgb(94,90,55)
17       Lavender      NaN     rgb(90,90,98)
18     Light Blue  #ADD8E6               NaN
19           Lime  #000000      rgb(0,100,0)
20        Magenta  #FF00FF    rgb(100,0,100)
21            NaN  #B03060     rgb(69,19,38)
22            NaN  #191970     rgb(10,10,44)
23      Navy Blue  #000080       rgb(0,0,50)
24          Olive  #808000      rgb(50,50,0)
25         Orange  #000000     rgb(100,65,0)
26           Pink  #FFC0CB    rgb(100,75,80)
27    Powder Blue  #B0E0E6     rgb(69,88,90)
28         Purple      NaN     rgb(63,13,94)
29            Red  #000000               NaN
30     Royal Blue  #4169E1     rgb(25,41,88)
31       Sky Blue  #000000     rgb(53,81,92)
32     Slate Gray  #708090     rgb(44,50,56)
33           Snow  #FFFAFA    rgb(100,98,98)
34            NaN  #4682B4     rgb(27,51,71)
35            NaN  #D2B48C     rgb(82,71,55)
36         Violet  #EE82EE     rgb(93,51,93)
37          White  #FFFFFF  rgb(100,100,100)
38         Yellow  #000000    rgb(100,100,0)

In [23]:
# checking for NULL values
print("checking NULL by-row")
df.isnull()

checking NULL by-row

     Name    HEX    RGB
0   False  False  False
1    True  False  False
2   False  False  False
3   False  False  False
4   False  False  False
5   False  False   True
6   False   True  False
7   False  False  False
8   False  False  False
9    True  False  False
10  False  False  False
11  False  False  False
12  False  False  False
13  False  False  False
14  False  False  False
15  False  False  False
16  False  False  False
17  False   True  False
18  False  False   True
19  False  False  False
20  False  False  False
21   True  False  False
22   True  False  False
23  False  False  False
24  False  False  False
25  False  False  False
26  False  False  False
27  False  False  False
28  False   True  False
29  False  False   True
30  False  False  False
31  False  False  False
32  False  False  False
33  False  False  False
34   True  False  False
35   True  False  False
36  False  False  False
37  False  False  False
38  False  False  False

In [24]:
# checking total no.of NULL values
print("Total no of NULL values by-col")
df.isnull().sum()

Total no of NULL values by-col

Name    6
HEX     3
RGB     3
dtype: int64

In [25]:
# checking total no of NULL values in data
print("total count of NULL values in entire data") 
df.isnull().sum().sum()

total count of NULL values in entire data

12

In [26]:
# data amnipulation operations - filtering
filtered_data = df[df['Name'] == 'Black']
filtered_data

    Name      HEX         RGB
3  Black  #000000  rgb(0,0,0)

In [27]:
# data manipulation operations - sorting
sorted_data = df.sort_values(by='RGB')
sorted_data

             Name      HEX               RGB
3           Black  #000000        rgb(0,0,0)
4            Blue  #0000FF      rgb(0,0,100)
23      Navy Blue  #000080       rgb(0,0,50)
9             NaN  #00008B       rgb(0,0,55)
19           Lime  #000000      rgb(0,100,0)
13          Green  #00FF00      rgb(0,100,0)
8            Cyan  #00FFFF    rgb(0,100,100)
0            Aqua  #00FFFF    rgb(0,100,100)
10  Deep Sky Blue  #000000     rgb(0,75,100)
22            NaN  #191970     rgb(10,10,44)
20        Magenta  #FF00FF    rgb(100,0,100)
38         Yellow  #000000    rgb(100,100,0)
37          White  #FFFFFF  rgb(100,100,100)
15          Ivory  #FFFFF0   rgb(100,100,94)
25         Orange  #000000     rgb(100,65,0)
26           Pink  #FFC0CB    rgb(100,75,80)
11           Gold  #FFD700     rgb(100,84,0)
33           Snow  #FFFAFA    rgb(100,98,98)
30     Royal Blue  #4169E1     rgb(25,41,88)
34            NaN  #4682B4     rgb(27,51,71)
14         Indigo  #000000      rgb(29,0,51)
32     Slate Gray  #708090     rgb(44,50,56)
1             NaN  #7FFFD4    rgb(50,100,83)
24          Olive  #808000      rgb(50,50,0)
31       Sky Blue  #000000     rgb(53,81,92)
28         Purple      NaN     rgb(63,13,94)
21            NaN  #B03060     rgb(69,19,38)
27    Powder Blue  #B0E0E6     rgb(69,88,90)
12           Gray  #BEBEBE     rgb(75,75,75)
6       Chocolate      NaN     rgb(82,41,12)
35            NaN  #D2B48C     rgb(82,71,55)
7         Crimson  #000000      rgb(86,8,24)
17       Lavender      NaN     rgb(90,90,98)
36         Violet  #EE82EE     rgb(93,51,93)
16          Khaki  #F0E68C     rgb(94,90,55)
2           Beige  #F5F5DC     rgb(96,96,86)
5           Brown  #A52A2A               NaN
18     Light Blue  #ADD8E6               NaN
29            Red  #000000               NaN

In [28]:
# manipulate data frames
data = df.to_csv("colors.csv", index = False)
print(data)

None

In [32]:
# removing duplicate data
df.drop(axis = 1, index = 20)
data_drop = df.drop_duplicates(subset = ['HEX'])
print(data_drop)

           Name      HEX               RGB
0          Aqua  #00FFFF    rgb(0,100,100)
1           NaN  #7FFFD4    rgb(50,100,83)
2         Beige  #F5F5DC     rgb(96,96,86)
3         Black  #000000        rgb(0,0,0)
4          Blue  #0000FF      rgb(0,0,100)
5         Brown  #A52A2A               NaN
6     Chocolate      NaN     rgb(82,41,12)
9           NaN  #00008B       rgb(0,0,55)
11         Gold  #FFD700     rgb(100,84,0)
12         Gray  #BEBEBE     rgb(75,75,75)
13        Green  #00FF00      rgb(0,100,0)
15        Ivory  #FFFFF0   rgb(100,100,94)
16        Khaki  #F0E68C     rgb(94,90,55)
18   Light Blue  #ADD8E6               NaN
20      Magenta  #FF00FF    rgb(100,0,100)
21          NaN  #B03060     rgb(69,19,38)
22          NaN  #191970     rgb(10,10,44)
23    Navy Blue  #000080       rgb(0,0,50)
24        Olive  #808000      rgb(50,50,0)
26         Pink  #FFC0CB    rgb(100,75,80)
27  Powder Blue  #B0E0E6     rgb(69,88,90)
30   Royal Blue  #4169E1     rgb(25,41,88)
32   Slate Gray  #708090     rgb(44,50,56)
33         Snow  #FFFAFA    rgb(100,98,98)
34          NaN  #4682B4     rgb(27,51,71)
35          NaN  #D2B48C     rgb(82,71,55)
36       Violet  #EE82EE     rgb(93,51,93)
37        White  #FFFFFF  rgb(100,100,100)